*, *:before, *:after {
  box-sizing: border-box;
}

.nojs .needsjs {
  display: none;
}

body {
  --margin: 1em;
  margin: var(--margin) 5%;
  --line-height-ratio: 1.5;
  --line-height: calc(var(--line-height-ratio) * 1em);
  line-height: 1.5;
  font-family: sans-serif;
  --background: #ccddff;
  background-color: var(--background);
}

h1 {
  text-align: center;
}

#content {
  height: calc(100vh - 2 * var(--margin));
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#info-wrapper {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 15em;
  width: 40%;
}

#info {
  margin: var(--margin);
  width: calc(100% - 2 * var(--margin));
}

#gfx {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around; /* stretch? TODO */
  text-align: center;
}

#randomize {
  font-size: 1.5em;
  width: 70%;
  background-color: #5599EE;
  color: #EEEEEE;
  border: 0;
  padding: 0.25em;
}

#logo {
  width: 50%;
  text-align: center;
}

#logo img {
  width: 100%;
}

#bracket {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 20em;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: var(--margin) 2%;

  --num-cols: 5;
  --bracket-border: 0.2em;
  --text-spacing: calc(var(--line-height) + var(--bracket-border));
  --base-spacing: calc(5.5vh - 2 * var(--text-spacing));
}

#bracket > div {
  width: calc(100% / var(--num-cols));
  text-align: center;
}

#round1 { --power: 1; }
#round2 { --power: 2; }
#round3 { --power: 4; }
#round4 { --power: 8; }
#round5 { --power: 16; }

.game {
  --spacing: calc(var(--power) * (var(--base-spacing) + 2 * var(--text-spacing)) - var(--text-spacing));
  margin: var(--spacing) 0;
}
.game:first-child { margin-top: calc(0.5 * var(--spacing)); }
.game:last-child { margin-bottom: calc(0.5 * var(--spacing)); }

.bracket-box {
  height: var(--spacing);
  border-right: var(--bracket-border) solid #999999;
}

.player {
  margin: 0;
  border-bottom: var(--bracket-border) solid #999999;
  border-right: var(--bracket-border) solid var(--background);
  height: var(--text-spacing);
  font-weight: bold;
}

.player:last-child {
  border-right: var(--bracket-border) solid #999999;
}

.player.champion {
  border-right: 0;
}
